﻿<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="shortcut icon" href="http://xianzhiyan.com/static/ico/favicon.png">
<link rel="stylesheet" type="text/css" href="http://xianzhiyan.com/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="http://xianzhiyan.com/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="http://xianzhiyan.com/static/lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="http://xianzhiyan.com/static/lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="http://xianzhiyan.com/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="http://xianzhiyan.com/static/h-ui.admin/css/style.css" />

<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>用户管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 黑名单模块 <span class="c-gray en">&gt;</span> 恶意类别管理<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> 
		<span class="l">
			<a href="javascript:;" onclick="badtype_addpage('添加恶意类目','addpage.html','','510')" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe600;</i> 添加恶意类目
			</a>
		</span> 
		<span class="r" >共有数据：<strong>{$list->total()}</strong> 条</span>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="80">恶意类别</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="list" id="badType"}
					<tr class="text-c">
					<td>{$badType.bad_type_detail}</td>
					<td class="td-manage">
						<!-- <a style="text-decoration:none" onClick="member_stop(this,'10001')" href="javascript:;" title="停用">
							<i class="Hui-iconfont">&#xe631;</i>
						</a>  -->
						<a title="编辑" href="javascript:;" onclick="badtype_editpage('编辑','/bms/badtype/editPage?bad_type_id={$badType.bad_type_id}','','','510')" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6df;</i>
						</a> 
						<a title="删除" href="javascript:;" onclick="badtype_del(this,{$badType.bad_type_id})" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6e2;</i>
						</a>
					</td>
				</tr>
				{/volist}
				
			</tbody>
			
		</table>
		<div class="mt-20"> 
			<span class="r">
				{$list->render()}	
			</span>
		</div>
	</div>
</div>
<script type="text/javascript" src="http://xianzhiyan.com/static/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="http://xianzhiyan.com/static/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="http://xianzhiyan.com/static/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="http://xianzhiyan.com/static/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="http://xianzhiyan.com/static/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="http://xianzhiyan.com/static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="http://xianzhiyan.com/static/h-ui.admin/js/H-ui.admin.js"></script> 
<script type="text/javascript">
$(function(){
/* 	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			table.$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	}); */
});

/*黑名单-添加*/
function badtype_addpage(title,url,w,h){
	layer_show(title,url,w,h,function(){
		location.reload();
	});
}
/*黑名单-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}

/*黑名单-编辑*/
function badtype_editpage(title,url,id,w,h){
	layer_show(title,url,w,h,function(){
		location.reload();
	});
}

/*黑名单-删除*/
function badtype_del(obj,bad_type_id){
	layer.confirm('确认要删除吗？',function(index){
		$.post("/bms/badtype/delbadtype",{'bad_type_id':bad_type_id}, function(data){
			var result = data['result'];
			if(result == "success"){
				layer.msg('删除成功!',{icon:1,time:1000});	
				setTimeout(function(){
					location.reload();
    			},1000);
			}else{
				layer.msg('删除失败!请联系程技术总监',{icon:2,time:1000});	
			}
		});
	});
}
</script> 
</body>
</html>